<h2>Editing: <%= @post.title %></h2>

<div class="row">
    <form action="/admin/posts/<%= @post.slug %>" method="post">
        <input type="hidden" name="_method" value="put">
        <%= erb :_post_form, :layout => false %>
    </form>    
</div>
