<h2>New <%= params[:type].capitalize %></h2>

<div class="row">
    <form action="/admin/posts" method="post">
        <input type="hidden" name="type" value="<%= params[:type] %>" id="type">
        <%= erb :_post_form, :layout => false %>
    </form>    
</div>
