<!DOCTYPE html>
<html>
<head>
    <title><%= page_title %></title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/errors.css">
</head>
<body>
    <div id="wrapper">
        <div id="title">
            <h1>404 <span>:(</span></h1>
        </div>
        <p>Looks like you got lost! But it's okay, you can <a href="/">click here</a> to go home.</p>
    </div>
</body>
</html>