/* @override http://scriptum.dev/css/blog.css */

html {
	font-size: 100%;
}

body {
	color: #5e5e5e;
	font-size: 16px;
	line-height: 24px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#wrapper {
	width: 600px;
	margin: 0 auto;
	padding: 32px 72px;
}

#tumblelog li.post {
	padding-bottom: 32px;
	position: relative;
}

div.post {
	position: relative;
}

li.post span.date, div.post span.date {
	font-size: 13px;
	line-height: 18px;
	width: 48px;
	height: 36px;
	background: url("/img/date-bg.png") no-repeat;
	text-align: center;
	padding: 6px 0;
	position: absolute;
	left: -72px;
	top: 0;
}

span.date .day, span.date .month {
	display: block;
}

span.date .day {
	font-size: 18px;
}

div.alert {
	color: #468847;
	margin-bottom: 1.5em;
	padding: .25em;
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

ul#tumblelog {
  	list-style-type: none;
  	margin-left: 0;
}

.pagination {
  overflow: hidden;
  margin-bottom: 1.5em;
}

.pagination .newer {
    float: right;
}

.pagination .older {
    float: left;
}

/* Typography */

a {
	color: #56a1cc;
}

a:hover {
	color: #65b453;	
}

a.visit {
	background-color: #ccc;
	color: #5e5e5e;
	text-decoration: none;
	padding: 4px 8px;
	border-radius: 3px;
}

a.visit:hover {
	background-color: #56a1cc;
	color: #fff;
}

p {
	margin-bottom: 24px;
}

h1, h2, h3, h4, h5 {
	font-weight: 200;
	text-rendering: optimizelegibility;
}

h1 {
	font-size: 40px;
	line-height: 56px;
	margin-bottom: 40px;
}

h1 a {
	text-decoration: none;
}

li.post h2 {
	font-size: 32px;
	margin-bottom: 16px;
	text-decoration: none;
}

li.post h2 a {
	text-decoration: none;
}

div.post h2 {
	font-size: 32px;
	margin-bottom: 16px;
	color: #000;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

strong {
	font-weight: bold;
	color: #000;
}

em {
  	font-style: italic;
}

code {
	font-size: 14px;
	line-height: 1.5em;
	font-family: Monaco, Consolas, monospace;
}

pre {
	margin-bottom: 24px;
	overflow-x: auto;
	background: #f5f5f5;
	border: 1px solid #e2e2e2;
	padding: 16px;
	border-radius: 4px;
}

pre code {
	margin-bottom: 0;
}

ul, ol {
	margin-left: 16px;
	margin-bottom: 24px;
}

ul {
  	list-style-type: disc;
}

ol {
  	list-style-type: decimal;
}

blockquote {
	font-family: Georgia, serif;
	border-left: 4px solid #ddd;
	border-color: #65b453;
	padding-left: 16px;
	font-style: italic;
}

blockquote small {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: normal;
	display: block;
	color: #8f8f8f;
}

blockquote small:before {
  content: '\2014 \00A0';
}
