<label class="control-label" for="url">URL <span class="muted">include http://</span></label>
<input id="url" class="span7" name="post[url]" value="<%= @post.url %>">

<label for="description">Description</label>
<textarea id="description" class="input-xlarge span7" rows="10" name="post[description]"><%= @post.description %></textarea>