<h2><%= @post.title %></h2>
<span class="date">
    <span class="day"><%= post.created_at.day %></span>
    <span class="month"><%= post.created_at.strftime('%b') %></span>
</span>

<%= @post.body_html %>