<label for="excerpt">Excerpt</label>
<textarea id="excerpt" class="input-xlarge span7" rows="8" name="post[excerpt]"><%= post.excerpt %></textarea>

<label for="body">Body</label>
<textarea id="body" class="input-xlarge span7" rows="14" name="post[body]"><%= post.body %></textarea>